<footer class="bg-dark  footer  footer-bar mt-2">
    <div class="container">
        <p class="m-0 text-center text-white">Pizza Copyright &copy; @DateTime.Now.Year</p>
    </div>
</footer>

@*@{
        Html.RenderPartial("_PartialFooter.cshtml");
    }*@